@page "/master/city"
@using iDss.X.Models
@inject MasterDataPart1Service _services
@attribute [TabItemOption(Text = "City")]


<PageTitle>City</PageTitle>

<Row ItemsPerRow="ItemsPerRow.One">
	<Row ItemsPerRow="ItemsPerRow.Two">
		<Stack IsRow="true" Justify="StackJustifyContent.Between" AlignItems="@StackAlignItems.Center">
			<StackItem>
				<h5>City</h5>
			</StackItem>
		</Stack>
	</Row>
	<Table TItem="City"  OnQueryAsync="@_services.OnQueryCityAsync"IsPagination="true" PageItemsSource="@_services.PageItemsSource" IsFixedHeader="true" DeleteButtonText="" EditButtonText=""
		   IsStriped="true" IsBordered="true" ShowToolbar="true" AutoGenerateColumns="true" ShowSearch="true" ShowExtendButtons="true"
		   EditMode="EditMode.Popup" EditDialogSize="Size.Large" ShowEditButton="false" OnSaveAsync="@_services.SaveCityAsync" ShowDeleteButton="false" OnDeleteAsync="@_services.DeleteCityByIDAsync">

	</Table>


</Row>



@code {


}
