@page "/master/industry"
@using iDss.X.Models
@inject MasterDataPart1Service _services
@attribute [TabItemOption(Text = "Industry")]


<PageTitle>Industry</PageTitle>

<Row ItemsPerRow="ItemsPerRow.One">
	<Row ItemsPerRow="ItemsPerRow.Two">
		<Stack IsRow="true" Justify="StackJustifyContent.Between" AlignItems="@StackAlignItems.Center">
			<StackItem>
				<h5>Industry</h5>
			</StackItem>
		</Stack>
	</Row>
	<Table TItem="Industry" OnQueryAsync="@_services.OnQueryIndustryAsync" IsPagination="true" PageItemsSource="@_services.PageItemsSource" IsFixedHeader="true" DeleteButtonText="" EditButtonText=""
		   IsStriped="true" IsBordered="true" ShowToolbar="true" AutoGenerateColumns="true" ShowSearch="true" ShowExtendButtons="true"
		   EditMode="EditMode.Popup" EditDialogSize="Size.Large" ShowEditButton="false" OnSaveAsync="@_services.SaveIndustryAsync" ShowDeleteButton="false" OnDeleteAsync="@_services.DeleteIndustryByIDAsync">
	</Table>


</Row>



@code {


}