@page "/master/packingtype"
@using iDss.X.Models
@inject MasterDataPart1Service _services
@attribute [TabItemOption(Text = "Packing Type")]

<PageTitle>Packing Type</PageTitle>

<Row ItemsPerRow="ItemsPerRow.One">
    <Row ItemsPerRow="ItemsPerRow.Two">
        <Stack IsRow="true" Justify="StackJustifyContent.Between" AlignItems="@StackAlignItems.Center">
            <StackItem>
                <h5>Packing Type</h5>
            </StackItem>
        </Stack>
    </Row>
    <Table TItem="PackingType" IsPagination="true" PageItemsSource="@_services.PageItemsSource" IsFixedHeader="true" DeleteButtonText="" EditButtonText=""
           IsStriped="true" IsBordered="true" OnQueryAsync="@_services.OnQueryPackingTypeAsync" ShowToolbar="true" AutoGenerateColumns="true" ShowSearch="true" ShowExtendButtons="true"
           EditMode="EditMode.Popup" EditDialogSize="Size.Large" ShowEditButton="false" OnSaveAsync="@_services.SavePackingTypeAsync" ShowDeleteButton="false" OnDeleteAsync="@_services.DeletePackingTypeByPackingCodeAsync">
    </Table>
</Row>

@code {


}