@page "/master/relation"
@using iDss.X.Models
@inject MasterDataPart1Service _services
@attribute [TabItemOption(Text = "Relation")]

<PageTitle>Relation</PageTitle>

<Row ItemsPerRow="ItemsPerRow.One">
    <Row ItemsPerRow="ItemsPerRow.Two">
        <Stack IsRow="true" Justify="StackJustifyContent.Between" AlignItems="@StackAlignItems.Center">
            <StackItem>
                <h5>Relation Code</h5>
            </StackItem>
        </Stack>
    </Row>
    <Table TItem="Relation" IsPagination="true" PageItemsSource="@_services.PageItemsSource" IsFixedHeader="true" DeleteButtonText="" EditButtonText=""
           IsStriped="true" IsBordered="true" OnQueryAsync="@_services.OnQueryRelationAsync" ShowToolbar="true" AutoGenerateColumns="true" ShowSearch="true" ShowExtendButtons="true"
           EditMode="EditMode.Popup" EditDialogSize="Size.Large" ShowEditButton="false" OnSaveAsync="@_services.SaveRelationAsync" ShowDeleteButton="false" OnDeleteAsync="@_services.DeleteRelationByIDAsync">
    </Table>
</Row>

@code {


}