@page "/master/service"
@using iDss.X.Models
@inject MasterDataPart1Service _services
@attribute [TabItemOption(Text = "Service Code")]

<PageTitle>Service Code</PageTitle>

<Row ItemsPerRow="ItemsPerRow.One">
    <Row ItemsPerRow="ItemsPerRow.Two">
        <Stack IsRow="true" Justify="StackJustifyContent.Between" AlignItems="@StackAlignItems.Center">
            <StackItem>
                <h5>Service Code</h5>
            </StackItem>
        </Stack>
    </Row>
    <Table TItem="Service" IsPagination="true" PageItemsSource="@_services.PageItemsSource" IsFixedHeader="true" DeleteButtonText="" EditButtonText=""
           IsStriped="true" IsBordered="true" OnQueryAsync="@_services.OnQueryServiceAsync" ShowToolbar="true" AutoGenerateColumns="true" ShowSearch="true" ShowExtendButtons="true"
           EditMode="EditMode.Popup" EditDialogSize="Size.Large" ShowEditButton="false" OnSaveAsync="@_services.SaveServiceAsync" ShowDeleteButton="false" OnDeleteAsync="@_services.DeleteServiceByServiceNameAsync">
    </Table>
</Row>

@code {


}