@page "/"
@layout iDss.X.Components.Shared.ModuleLayout

@using iDss.X.Models;
@inject ISessionStorageService session
@inject NavigationManager Navigation

<PageTitle>Name List</PageTitle>

<PageTitle>Module Page</PageTitle>

<div class="module-content">
    @if (CategoriesWithModules.Any())
    {
        @foreach (var category in CategoriesWithModules)
        {
            @if (category.Modules.Any())
            {
                <Divider Text="@category.modulectgname" Alignment="Alignment.Left" AdditionalAttributes="@(new Dictionary<string, object> { { "class", "module-divider" } })" />
                
                <Row ItemsPerRow="ItemsPerRow.Four">               
                @foreach (var module in category.Modules)
                {
                    var percentage = (module.Menus.Count > 0) ? ((module.TotalActiveMenus * 100) / module.TotalMenus) : 0;

                    <Card IsShadow="true" IsCenter="true" onclick="@(() => NavigateToHome(module.moduleid))" class="module-card">
                        <BodyTemplate>
                            <Stack IsRow="false" Justify="StackJustifyContent.Around" AlignItems="StackAlignItems.Stretch" IsWrap="true">
                                <StackItem>
                                    <Circle Width="60" Value="@percentage" Color="Color.Success" StrokeWidth="4" ShowProgress="false" >
                                        <i class="@module.icon"></i>
                                    </Circle>
                                </StackItem>
                                <StackItem>
                                    <div class="module-title">
                                        <h5 class="card-title">@module.modulename (@percentage%)</h5>
                                    </div>
                                </StackItem>
                            </Stack>
                        </BodyTemplate>
                    </Card>
                }
                </Row>
            }
        }
    }
    else
    {
        <p>Loading data...</p>
    }
</div>


